
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:wght@200..800&display=swap');
@import url('scrollbar.css');
@import url('animated.css'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html {
	scroll-behavior: smooth;
	line-height: 1.5; 
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
body {
	overflow-x: hidden;
	border:none;
	outline:none;
	font-size: 100%;
	line-height: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
p {
    margin: 0; 
    line-height: 1.5; 
}
img, svg {
    display: block;
    vertical-align: middle;
}
a {
    text-decoration: none;
	color: inherit;
}
ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

::-webkit-scrollbar {
	display: none; 
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	z-index: 9;
	overflow: hidden;
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}



.pull-right{
	float: right;
}

.pull-left{
	float: left;
}



.preloader{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:rgba(0,0,0,0); 
} 

.preloader .icon{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:1; 
	background-color:rgba(0,0,0,0); 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(../img/icon/gear\ full\ 9.svg);

	
    background-size: 974px auto;

	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	animation: 2s gearAnimation linear infinite;
} 

.preloader .other-icon{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:2; 
	background-color:rgba(0,0,0,0); 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(../img/icon/rebuild\ tanpa\ gear.svg);
	
    background-size: 397px auto;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-left: 34px;
} 

.page-loaded .preloader .icon,
.page-loaded .preloader .other-icon{
	opacity:0; 
}

.preloader:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ffffff;
	z-index:0; 
	-webkit-transform:translateX(0%);
	-ms-transform:translateX(0%);
	transform:translateX(0%);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.page-loaded .preloader:before{
	-webkit-transform:translateX(-101%);
	-ms-transform:translateX(-101%);
	transform:translateX(-101%);
}

.preloader:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: linear-gradient(to right, #0F1E1C, #1e3d39);
	z-index:2; 
	-webkit-transform:translateX(101%);
	-ms-transform:translateX(101%);
	transform:translateX(101%);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.page-loaded .preloader:after{
	-webkit-transform:translateX(-101%);
	-ms-transform:translateX(-101%);
	transform:translateX(-101%);
}




.header-absolute {
    position: absolute !important;
    background-color: transparent !important;
    box-shadow: none !important;
    top: 0;
}


.header-fixed {
    position: fixed !important;
    top: 0;
    background-color: rgba(22, 46, 43, 0.4) !important; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}


.main-header{
	display: block;
	width: 100%;
	z-index: 99999;
	transition: transform 0.5s ease, opacity 0.5s ease !important;
	
}

.main-header .header-top{
	position: relative;
	transition: opacity 0.3s ease;
}



.live-news {
    background: linear-gradient(to right, black 0%, #94812d 30%, #c5ad43 100%);
    position: fixed;
    width: 115%;
    height: 45px;
    top: 0;
    left: 0;
}

.live-news .auto-container {
    max-width: 100% !important;
    padding: 0 30px !important;
    margin: 0 !important;
}

.live-news .rectangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 310.5px;
    height: 45px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
	gap: 15px;
    box-shadow: #1C1E32;
}

.live-news .rectangle .rectangle-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -13px;
    z-index: 1;
}

.live-news .rectangle .rectangle-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 0;
}

.live-news .rectangle .kabinet-selaras {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
	font-family: "Montserrat";
}

.live-news .rectangle .selaras {
    position: relative;
    z-index: 2;
    width: 45px;
    height: 45px;
    margin: 10px 50px 0 0;
}

.live-news .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
	
}

.live-news .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    color: white;
    align-content: center;
    line-height: 45px;
    font-size: 16px;
    font-family: "Figtree";
	text-shadow: 2px 2px 2px #000040;
}

.live-news .marquee span a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.live-news .marquee span:hover {
    animation-play-state: paused;
}

.main-header .header-top .top{
	position: relative;
}


.header-upper{
	position: relative;
	top: 0;
	
	height: 87px;
	left: 0;
    right: 0;
	
    transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.header-upper.sticky {
    top: 0;  
}

.main-header .nav-outer .logo-outer{
	position: absolute;
	left: 50%;
	z-index:2;
	transform: translateX(-50%);
	margin-top: 5px;
}

.main-header .nav-outer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	position: sticky;
	float: right;
	width:100%;
	z-index:1;
}


.main-header .nav-outer .logo-outer img{
	position: relative;
	display: inline-block;
	width: 190px;
	
}



.main-menu{
	position:relative;
	float:left;
	width:90%;
	padding: 7px 0;
	margin: auto;
}

.main-menu .navbar-collapse{
	padding:0px;
	display:block !important;
}

.main-menu .navigation{
	position:relative;
	margin: -3px;
}

.main-menu .navigation > li{
	position:relative;
	float:left;
	z-index:2;
	padding:25px 0px;
	margin-right: 85px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
	margin-right:0px;
}

.main-menu .navigation > li > a{
	font-family: "Montserrat";
	position:relative;
	display:block;
	text-align:center;
	font-size:16px;
	line-height:28px;
	font-weight:400;
	opacity:1;
	color:white;
	padding: 0px;
	z-index:1;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a{
	color: #ffffff;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:100%;
	width:230px;
	z-index:100; 
	display: block !important;
	opacity: 0;
    visibility: hidden;
	overflow: hidden;

    transform: translateY(30px);
    transition: all 400ms ease; 

	padding: 0px 0px;
	background-color: #ffffff;
	border-top: 2px solid #00978d;
	border-bottom: 2px solid #00978d;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	border-radius: 8px;
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	width:0%;
	height:100%;
	display:block;
	background:#104642;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover:before{
	width:100%;
}

.main-menu .navigation li a {
    text-decoration: none;
}

.main-menu .navigation > li > ul > li > a {
	position:relative;
	display:block;
	padding:12px 20px;
	line-height:24px;
	font-weight:500;
	font-size:15px;
	font-family: "Figtree";
	text-decoration: none;
	text-transform:capitalize;
	color:#252525;
	text-align: left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
	color:#ffffff;
}

.arrow {
    font-size: 10px;
    margin-left: 6px;
    transition: transform 0.3s ease;
	opacity: 0.5;
}

.main-menu .dropdown:hover .arrow {
    transform: rotate(180deg);
	opacity: 1;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: "Figtree";
	content: "\f105";
	position:absolute;
	right:20px;
	top:12px;
	display:block;
	line-height:24px;
	font-size:16px;
	font-weight:800;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li:hover:before{
	width:100%;	
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 20px;
	line-height:24px;
	font-weight:500;
	font-size:15px;
	font-family: "Figtree";
	text-transform:capitalize;
	color:#252525;
	text-align: left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:#ffffff;
}

.main-menu .navigation .dropdown {
    position: relative;
    display: inline-block;
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
	transition:all 400ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	text-align:center;
	font-size:16px;
	line-height:26px;
	color:#ffffff;
	cursor:pointer;
	z-index:5;
	display:none;
}

.dropdown-toggle::after{
	display: none;
}



.nav-outer .mobile-nav-toggler{
	position: relative;
	float: right;
	font-size: 40px;
	line-height: 50px;
	cursor: pointer;
	color: white;
	display: none;
}

.mobile-menu{
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	padding-right:20px;
	max-width:100%;
	height: 100vh; 
	opacity: 0;
	visibility: hidden;
	z-index: 9999999 !important;
}

.mobile-menu .navbar-collapse{
	display:block !important;	
}

.mobile-menu .nav-logo{
	position:relative;
	padding:30px 25px;
	text-align:left;	
}

.mobile-menu-visible{
	overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
	opacity: 1;
	visibility: visible;
}

.mobile-menu .menu-backdrop{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh; 
	z-index: 1;
	background: #162E2B;
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
	opacity: 0.70;
	visibility: visible;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.mobile-menu .menu-box{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	background: #162E2B;
	padding: 0px 0px;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	border-radius: 0px;
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box{
	opacity: 1;
	visibility: visible;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.mobile-menu .close-btn{
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: 30px;
	width: 24px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	z-index: 10;
	-webkit-transition:all 0.9s ease;
	-moz-transition:all 0.9s ease;
	-ms-transition:all 0.9s ease;
	-o-transition:all 0.9s ease;
	transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
	color: black;
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	filter: drop-shadow(0px 0px 1px white);
}

.mobile-menu .navigation{
	position: relative;
	display: block;
	width: 100%;
	float: none;
}

.mobile-menu .navigation li{
	position: relative;
	display: block;
	border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
	border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
	border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
	position: relative;
	display: block;
	line-height: 24px;
	padding: 10px 25px;
	font-size: 15px;
	font-weight: 500;
	font-family: "Figtree";
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
}

.mobile-menu .navigation li ul li > a{
	font-size: 16px;
	font-family: "Figtree";
	margin-left: 20px;
	text-transform: none;
}

.mobile-menu .navigation li.current > a,
.mobile-menu .navigation li > a:hover{
	color:white;	
}

.mobile-menu .navigation li.current > a:before{
	height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	right:6px;
	top:6px;
	width:32px;
	height:32px;
	text-align:center;
	font-size:16px;
	line-height:32px;
	color:#ffffff;
	background:rgba(255,255,255,0.10);
	cursor:pointer;
	border-radius:2px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
	background:#c5ad43;	
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);	
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul{
	display: none;
	position: relative; 
    width: 100%;
    padding: 0;
    margin: 0;
}

.mobile-menu .social-links{
	position:relative;
	text-align:center;
	padding:30px 25px;
}

.mobile-menu .social-links li{
	position:relative;
	display:inline-block;
	margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
	position:relative;
	line-height:32px;
	font-size:16px;
	color:#ffffff;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	padding: 8px;
	font-size: 20px;
}

.mobile-menu .social-links li a:hover{
	color: #c5ad43;	
}


.middle-section {
    padding: 400px 20px;
    background-color: #162E2B;
    text-align: center;
}

.btn {
    color: #ffffff;
    text-decoration: none;
    border-radius: 100px;
    border: #353767;
    background-color: #353767;
    padding: 0.6em 1em;
    font-family: "Figtree";
    font-style: normal;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    font-weight: 400;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    z-index: 1;
  }
  
  .btn:hover {
    color: #ffffff;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #1C1E32;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }

.frame .text-wrapper {
    position: relative;
    font-family: "Figtree", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: clamp(1rem, 2vw, 1.28rem);
    font-style: normal;
  }

.span {
    font-weight: bold;
    color: #b3ff00;
}







.back-to-top {
    
    position: fixed !important;
    bottom: 50px; 
    right: 40px;  
    z-index: 999; 
    
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    
    
    display: flex;
}


.back-to-top.show {
    opacity: 1;
    visibility: visible;
}


.button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: #D6C26A;
    border: 2px solid #F0EDDB;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.button::after {
    content: "Top";
    position: absolute;
    width: auto;
    background-color: white;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 25px;
    top: -50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    transform: scale(0);
}
.svg {
	transition: all 0.5s;
}
.button:hover {
	transform: translateY(-3px);
	background-color: #94812d;
}
.button:hover .svg {
	fill: white;
	transform: scale(1.2);
}
.button:hover::after {
	transform: scale(1);
}
.button:active {
	transform: translateY(2px);
}


h1{
	font-family: Montserrat;
	color: whitesmoke;
	line-height: 1.2;
	letter-spacing: 0px;
	vertical-align: middle;
}
p{
	font-family: "Inter", sans-serif;
    font-weight: 400;
	color:whitesmoke;
}
h1 span{
	color: #D6C26A;
}

.hero-bg-1{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: clamp(60px, 11.5vw, 150px);
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1280 147' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M0 45.7489V288.749H1279.96V45.7489C1279.96 45.7489 1078.05 -3.92402 947.962 0.248934C751.105 6.5637 648.56 140.366 451.683 144.749C273.709 148.711 0 45.7489 0 45.7489Z' fill='%232B5A56'/%3E%3C/svg%3E");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.hero-bg-2{
	position: absolute;
	bottom: 0;
	width: 50%;
	transform: translateX(-30%) translateY(20%);
	height: auto;
	opacity: 10%;
}
.hero-bg-3{
	position: absolute;
	right: 0;
	top: 0;
	height: auto;
	width: 25%;
	transform: translateY(-60%);
	z-index: 3;
}
.hero-section {
	position: relative;
	overflow: hidden;
	background-color: #1E4542;
    min-height: 110vh;
    display: flex;
    align-items: center;
}

.hero-container {
	position: relative;
	z-index: 2;
    width: min(1750px, 90%);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.hero-content {
    max-width: 650px;
	display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 40px;
}

.hero-title{
	display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title h1{
	font-weight: 700;
	font-style: Bold;
	font-size: clamp(2.2rem, 3.8vw, 3rem);
}

.hero-title p{
    font-size: clamp(16px, 1.5vw, 20px);
    line-height: 1.5;
    letter-spacing: 0;
}

.hero-button button{
	background-color: #D6C26A;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
	gap: 8px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: transform 0.3s;
}

.hero-button button:hover {
    transform: scale(1.05);
}

.hero-button button span{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 16px;
	color: #1E1E1E;
}

.hero-image {
    position: relative;
}

.hero-image::before,
.hero-image::after {
    content: "";
    position: absolute;
    border-radius: 9999px;
    z-index: -1;
}

.hero-image::before {
    width: 200px;
    height: 200px;
    background: rgba(87, 241, 219, 0.20);
    filter: blur(32px);
    top: -40px;
    right: 20px;
}

.hero-image::after {
    width: 200px;
    height: 200px;
    background: rgba(221, 183, 255, 0.20);
    filter: blur(32px);
    bottom: -40px;
    left: -40px;
}

.hero-image img {
    width: min(380px, 33vw);
    height: auto;
    margin-right: 80px;
    border: 8px solid rgba(255, 255, 255, 0.15);
    border-radius: 48px;
    transform: rotate(3deg);
    transition: all 0.4s ease-in-out;
}

.hero-image img:hover {
    transform: rotate(0deg) scale(1.03) translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2), 0 0 20px rgba(87, 241, 219, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 991px) {
    .hero-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
        gap: 40px;
    }
    .hero-content {
        margin-left: 0;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    .hero-title h1 {
        font-size: clamp(2rem, 8vw, 3rem);
        text-align: center;
    }
    .hero-title p {
        font-size: clamp(0.9rem, 4vw, 1.1rem);
        text-align: center;
        margin-top: -8px;
    }
    .hero-image {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .hero-image img {
        margin-right: 0;
        width: min(220px, 55vw);
    }
    .hero-bg-1 {
        height: 100px;
        background-size: 175% 100%;
        background-position: left bottom;
    }
    .hero-bg-2 {
        transform: translateX(55%) translateY(-20%);
    }
}

.dosen-section{
	position: relative;
	background-color: #2B5A56;
    min-height: 100vh;
	padding: 6rem 0;
    margin-top: -2px;
    z-index: 2;
}

.dosen-container{
	width: min(1750px, 90%);
    margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.dosen-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.dosen-title h1
{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(3rem, 5vw, 3.75rem); 
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}

.dosen-title p{
    font-size: clamp(0.95rem, 1.2vw, 16px);
    line-height: 1.6; 
    text-align: center;
}

.dosen-controls{
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.dosen-search{
    position: relative;
    width: min(500px, 100%);
}

.dosen-search img{
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.dosen-search input{
    width: 100%;
    height: 58px;
    padding: 0 16px 0 48px;
    border: 1px solid #132D27;
    border-radius: 12px;
    background: #132D27;
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
}

.dosen-filter {
    position: relative;
    width: 275px;
}

.dropdown-selected {
    width: 100%;
    height: 58px;
    border: 1px solid #132D27;
    border-radius: 12px;
    background: #132D27;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: whitesmoke;
    cursor: pointer;
    user-select: none;
    transition: border-color 0.3s;
}

.dropdown-selected:hover, .dropdown-selected.active {
    border-color: #D6C26A;
}

.dropdown-selected img {
    width: 14px;
    transition: transform 0.3s;
}

.dropdown-selected.active img {
    transform: rotate(180deg);
}

.dropdown-options {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background: #132D27;
    border: 1px solid #296660;
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 99;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.dropdown-options.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-option {
    padding: 14px 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #BACAC5;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.dropdown-option:hover {
    background: #2B5A56;
    color: whitesmoke;
}

.dropdown-option.active {
    background: #296660;
    color: whitesmoke;
    font-weight: 600;
}



.dosen-slider-wrapper {
    position: relative;
    width: 100%;
}



.dosen-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 330px));
    justify-content: center;
    gap: 32px;
}

.dosen-card{
    width: clamp(280px, 90vw, 330px);
    padding: clamp(20px, 5vw, 32px);
    border-radius:40px;

    background:rgba(33,33,33,.15);
    border:1px solid #D6C26A;
    backdrop-filter:blur(35px);

    display:flex;
	align-items: center;
    flex-direction:column;
    gap:20px;
	transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease, filter 0.6s ease;
}

.dosen-card-image{
    width: clamp(100px, 30vw, 140px);
    height: clamp(100px, 30vw, 140px);
    border-radius: 50%;
    object-fit: cover;
}

.dosen-card-content{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.dosen-card-title{
	display: flex;
	flex-direction: column;
}

.dosen-card-title h3{
    font-family: "Manrope", sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 17.6px;
    letter-spacing: 2.2px;
    text-transform: uppercase;

    color: #D6C26A; 

    margin-bottom: 4px;
}

.dosen-card-title h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: clamp(20px, 5vw, 24px);
    font-weight: 600;
    line-height: 33px;
	color: whitesmoke;

    margin-bottom: 6px;
}

.dosen-card-info{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.dosen-card-item{
	display: flex;
	gap: 10px;
}

.dosen-card-icon{
    width: clamp(36px, 10vw, 44px);
    height: clamp(36px, 10vw, 44px);

    border: 1px solid #FFFFFF0D;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    background: #FFFFFF0D;

}

.dosen-card h4{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #BACAC5;
    margin: 0;
}

.dosen-card-info-content {
    overflow: hidden;
}

.dosen-card-info-content p {
    margin: 0;
    word-break: break-all;
    overflow-wrap: break-word;
}

.dosen-card:hover{
	transform: translateY(-8px) scale(1.03);
	box-shadow: 0 0 30px rgba(214,194,106,.35);
}


.site-footer {
		background: linear-gradient(180deg, #1F433F 0%, #162E2B 100%);
		padding: 36px 40px 32px 40px;
		color: white;
		transition: all 0.5s ease;
	}

	.footer-container {
		max-width: 1440px;
		margin: 0 auto;
	}

	.footer-main-row {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
	}

	
	.footer-brand-col {
		width: 100%;
		margin-bottom: 32px;
		margin-top: 20px;
	}

	.brand-content {
		display: flex;
		flex-direction: column;
		align-items: center;
    gap: 20px;
	}

	.logo-address-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		font-family: 'Inter', sans-serif;
	}

	.footer-logo {
		width: 240px; 
		user-select: none;
	}

	.footer-address {
		text-align: center;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.25rem;
		max-width: 280px;
	}

	.footer-social-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 260px; 
		margin-bottom: 20px;
	}

	.footer-social-link {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		transition: all 0.3s ease;
		text-decoration: none;
	}

	.footer-social-link:hover {
		background-color: white;
		color: #2a5550;
		border-color: transparent;
	}

	
	.footer-grid-col {
		width: 100%;
	}

	.footer-links-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr); 
		gap: 32px;
	}

	.align-center-lg { 
		display: flex;
	}

	.tentang-kami {
		display: flex; justify-content: center; 
	}
	.media-hp-footer {
        display: flex; justify-content: start; 
    }
	
	.align-right-lg { 
		display: flex; justify-content: start; 
	}

	.group-title {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	.group-list {
		list-style: none;
		padding: 0;
		font-family: 'Inter', sans-serif;
	}

	.group-list li a {
		display: inline-block;
		color: white;
		text-decoration: none;
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 2px;
		transition: all 0.5s ease;
		transform-origin: left;
		-webkit-font-smoothing: antialiased;
	}

	.group-list li a:hover {
		transform: scale(1.25);
		color: #c5ad43;
	}

	
	.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
		margin-top: 32px;
		padding-top: 24px;
		border-top: 1px solid #94a3b8; 
		text-align: center;
	}

	.copyright-text {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 400;
	}

	.authorized-brand {
		font-family: 'Montserrat', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		font-weight: 600;
	}

  .mini-logo { width: 40px; height: 40px; }

	

	@media (max-width: 640px) {
		
	}

	
	@media (min-width: 640px) {
		.aplikasi-publik {
			display: flex; justify-content: start;
		}
		.align-center-lg { 
			display: flex; justify-content: end; 
		}
		.site-footer { padding-left: 64px; padding-right: 64px; }
		.footer-logo { width: 260px; }
		.footer-links-grid { grid-template-columns: repeat(3, 1fr); }
		.group-title { font-size: 16px; }
		.group-list li a { font-size: 14px; }
		.copyright-text { font-size: 14px; font-weight: 500; }
	}

	
	@media (min-width: 768px) {
		.align-center-lg { 
			display: flex; justify-content: end; 
		}
		.align-right-lg { 
			display: flex; justify-content: start; 
		}
		.group-title { font-size: 18px; font-weight: 600; margin-bottom: 20px; }
		.group-list li a { font-size: 14px; margin-bottom: 10px; }
	}

	
	@media (min-width: 1024px) {
		.site-footer { padding-top: 48px; padding-bottom: 44px; padding-left: 80px; padding-right: 80px; }
		.footer-main-row { flex-direction: row; justify-content: space-between; }
		
		.footer-brand-col { width: 33.33%; margin-top: 0; }
		.brand-content { align-items: flex-start; }
		.logo-address-group { align-items: flex-start; }
		.footer-address { text-align: left; }
		
		.footer-grid-col { width: 66.66%; }
		.footer-links-grid { grid-template-columns: repeat(4, 1fr); }
		
		.align-center-lg { display: flex; justify-content: center; }
		.align-right-lg { display: flex; justify-content: end; }
		.media-hp-footer { display: flex; justify-content: center; }
		
		.footer-bottom { padding-top: 32px; gap: 10px; }
		.mini-logo { width: 40px; height: 40px; }
	}

	
	@media (min-width: 1280px) {
		.site-footer { padding-left: 88px; padding-right: 88px; }
	}

@media (max-width: 768px) {
    .dosen-controls {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .dosen-search {
        width: 100%;
    }
    .dosen-filter {
        width: 100%;
    }

}